@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.red-gradient {
  background: linear-gradient(92deg, #ff5956 2.87%, #ee1e38 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.smychat-screen {
  position: fixed;
  bottom: -6px;
  right: -4px;
  border: none;
  z-index: 9999;
}

:root {
  color-scheme: dark;
}
